[submodule "external/mupen64plus/core"]
	path = external/emulators/mupen64plus/core
	url = https://github.com/mupen64plus/mupen64plus-core.git
[submodule "external/mupen64plus/input-sdl"]
	path = external/emulators/mupen64plus/input-sdl
	url = https://github.com/mupen64plus/mupen64plus-input-sdl.git
[submodule "external/mupen64plus/ui-console"]
	path = external/emulators/mupen64plus/ui-console
	url = https://github.com/mupen64plus/mupen64plus-ui-console.git
[submodule "external/mupen64plus/audio-sdl"]
	path = external/emulators/mupen64plus/audio-sdl
	url = https://github.com/mupen64plus/mupen64plus-audio-sdl.git
[submodule "external/flycast"]
	path = external/emulators/flycast
	url = https://github.com/flyinghead/flycast.git
[submodule "external/tools/exfatprogs"]
	path = external/tools/exfatprogs
	url = https://github.com/exfatprogs/exfatprogs.git
[submodule "external/tools/SDL2"]
	path = external/tools/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "external/tools/SDL2_image"]
	path = external/tools/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "external/tools/alsa-utils"]
	path = external/tools/alsa-utils
	url = https://github.com/alsa-project/alsa-utils.git
[submodule "external/emulators/mupen64plus/rsp-hle"]
	path = external/emulators/mupen64plus/rsp-hle
	url = https://github.com/mupen64plus/mupen64plus-rsp-hle.git
[submodule "external/emulators/mupen64plus/video-gliden64"]
	path = external/emulators/mupen64plus/video-gliden64
	url = https://github.com/gonetz/GLideN64.git
[submodule "external/emulators/pcsx-rearmed"]
	path = external/emulators/pcsx-rearmed
	url = https://github.com/notaz/pcsx_rearmed.git
[submodule "external/tools/sdl12-compat"]
	path = external/tools/sdl12-compat
	url = https://github.com/libsdl-org/sdl12-compat.git
[submodule "external/emulators/armsx2"]
	path = external/emulators/armsx2
	url = https://github.com/ARMSX2/ARMSX2.git
[submodule "external/emulators/dolphin"]
	path = external/emulators/dolphin
	url = https://github.com/dolphin-emu/dolphin.git
[submodule "external/emulators/yabasanshiro"]
	path = external/emulators/yabasanshiro
	url = https://github.com/sydarn/yabasanshiro.git
[submodule "external/base/u-boot"]
	path = external/base/u-boot
	url = https://github.com/beebono/u-boot-ums512.git
[submodule "external/tools/busybox"]
	path = external/tools/busybox
	url = https://github.com/mirror/busybox.git
[submodule "external/tools/gptfdisk"]
	path = external/tools/gptfdisk
	url = https://github.com/samangh/gptfdisk.git
[submodule "external/base/mali-kbase"]
	path = external/base/mali-kbase
	url = https://github.com/beebono/mali_kbase.git
	branch = ums512
[submodule "external/base/linux"]
	path = external/base/linux
	url = https://github.com/beebono/linux-mainline-sprd.git
	branch = rg-rotate
[submodule "external/tools/SDL3"]
	path = external/tools/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = main
