[emulator]
mapping_name = retrogame_joypad
dead_zone = 10
saturation = 100
rumble_power = 100
version = 4

[digital]
bind0 = 0:btn_a
bind1 = 1:btn_b
bind2 = 3:btn_x
bind3 = 2:btn_y
bind4 = 9:btn_start
bind5 = 13:btn_dpad1_up
bind6 = 14:btn_dpad1_down
bind7 = 15:btn_dpad1_left
bind8 = 16:btn_dpad1_right
bind9 = 4:btn_trigger_left
bind10 = 5:btn_trigger_right

[analog]
bind0 = 0-:axis_left
bind1 = 0+:axis_right
bind2 = 1-:axis_up
bind3 = 1+:axis_down
bind4 = 2-:axis2_left
bind5 = 2+:axis2_right
bind6 = 3-:axis2_up
bind7 = 3+:axis2_down

[combo]
; M + Start  → Exit emulator
bind0 = 10,9:btn_escape:1
; M + L3     → Load state
bind1 = 10,11:btn_jump_state:1
; M + R3     → Save state
bind2 = 10,12:btn_quick_save:1
